<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybaties.namespace.StudentCardMapper">
    <select id="findByNumber" parameterType="int" resultType="StudentCard">
      select  * from student_card where number = #{studentId}
  </select>
</mapper>